@font-face {
    font-family: 'StratosSkyeng';
    src: url("fonts/statosskyeng-v1.001/Web\ fonts/woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--blue-120, #004980);
    font-family: 'StratosSkyeng', sans-serif;
}

.box {
    &-game {
        width: 480px;
        height: 459px;
        border-radius: 12px;
        background: #C2F5FF;
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        gap: 48px;

        &__title {
            color: #004980;
            text-align: center;
            font-variant-numeric: lining-nums proportional-nums;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px;
        }

        &__button {
            background-color: #7AC100;
            width: 246px;
            height: 50px;
            color: #FFF;
            align-self: center;
            font-variant-numeric: lining-nums proportional-nums;
            font-family: 'StratosSkyeng';
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            border: none;
            border-radius: 12px;
        }
    }

    &-difficulty-level {
        display: flex;
        gap: 26px;

        &__button {
            width: 98px;
            height: 98px;
            border-radius: 12px;
            border: none;
            color: var(--blue-100, #0080C1);
            text-align: center;
            font-family: 'StratosSkyeng';
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: 72px;
            background-color: #FFF;
        }
    }

}